@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Roboto:wght@100&display=swap');

*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
html{scroll-behavior: smooth;}
body{
    font-family:'Montserrat', sans-serif;
    overflow-x:hidden;
}
    #cargando span{
        font-size:2em;
        color:#fff;
        margin:0 auto;
    }
#Img3M{
    visibility:hidden;
  --animate-duration: 0.4s;

}
#maininfo{
    visibility:hidden;
  --animate-duration: 0.3s;

}
#Img3M,#Img2,#Img1{
      aspect-ratio:auto;
}
.imagenfondo{
    background-image:url(../images/fondoazul.webp);
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:cover;
}
.wrapper{
    width:100vw;
    height:100vh;
    /*background-color:#191c32;*/
    background-color:transparent;
    color:#fff;
}
.brand{
    margin-top:-7px;
}
.brand span{
    color:#6EA3F9;
}
.navbar{
    display:flex;
    justify-content:space-between;
    padding:2em;
}
@media (min-width: 701px) {
    .hamburger{
        display:none;
    }
.menu{
    display:flex;
    /*width:50%;*/
    width:fit-content;
    justify-content:space-around;
}

.menu li{
    list-style:none;
}
.menu a{
    color:#fff;
    text-decoration:none;
    padding:10px 20px;
    font-weight:bold;
}

.menu .active{
    color:#6EA3F9;
}
.menu a:hover{
    background-color:#6EA3F9;
    color:#191c32;
    transition:ease-in .3s;
}
}
/*
#cargando span{
    display:none;
}*/
.main{
    margin:0 auto;
    width:80vw;
    height:80vh;
    display:grid;
    grid-template-columns: repeat(2,1fr);
    align-items:center;
}
.info-content h1{
        font-size:2.5em;
}
.info-content span{
        color:#6EA3F9;
}
.maininfo{
    margin-bottom:5px;
}
.download-cv{
    padding:10px 20px;
    border-radius:5px;
    background-color:#6EA3F9;
    border:none;
    margin-top:10px;
    cursor:pointer;
    box-shadow:1px 3px 11px -5px rgba(102,231,200,.69);
}

.download-cv:hover{
    box-shadow:none;
    background-color:#fff;
    transition:ease-in .3s;
}

.main img{
   /* width:300px;*/
    border:7px solid #6EA3F9;
}
.about{
    display:grid;
    grid-template-columns:repeat(10, 1fr);
    width:100vw;
    /*align-items:center;*/
    align-items:end;
    background-color:#fff;
}
.about img{
   /* width:100%;*/
    grid-column:1/2;
}
.about-info{
    grid-column:2/10;
    padding:3em;
    
}
.about-info h2{
    font-size:1.5em;
    color:#191c32;
    margin-top: 15px;
}
.divider{
    height:4px;
    width:60px;
    background-color:#6EA3F9;
    margin-top:5px;
    margin-bottom: 2em;
}

.about p{
    margin-bottom:1em;
}
.portafolio{
    /*background-color:#191c32;*/
    width:100vw;
    color:#fff;
}
.portafolio-headings{
    width:100vw;
    padding:5em;
}
.portafolio-headings h2{
    font-size:2.5em;
}
.portafolio .container{
    width:80vw;
    height:80vh;
    margin: 0 auto;
    display:flex;
    justify-content:center;
    align-items: initial;

}
.card{
    width:300px;
    color:#fff;
    height:350px;
    background-color:blue;
    background-color: #6EA3F9;
    margin:1em;
}
.card__img{
    width:100%;
    height:150px;
    background-size:cover;
    display:block;
}
.card__title{
    padding:20px;
}
.project__links{
    display:flex;
    justify-content:space-evenly;
}
.project__links a{
    color:#fff;
    text-decoration:none;
}
.project__links i{
    font-size:1.5em;
}
.projectdetails-container{
    display:flex;
    width:100%;
    justify-content:center;
    margin-top:1em;
}
.card .poject-details{
    margin:0 auto;
    margin:1em;
    width:50%;
}
.card .poject-details a{
    text-decoration:none;
    color:#191c32;
    text-transform:uppercase;
}
.contact-section{
    color:#191c32;
    background-color:#fff;
    
}
.finalsection{
    height:100vh;
    background-color: #6EA3F9;
}
.contact-headings {
    width: 100vw;
    padding: 5em;
}
.contact-headings h2{
    font-size:3em;

}
.container-contact{
    margin:0 auto;
    display:flex;
}
.container-contact img{
    width:300px;
    bottom:0;
}

.contact-form a{
text-decoration: none;
color: #000;
}

.contact-form i{
    color: #6EA3F9;
}
.contact-form{
    display:flex;
    flex-direction:column;
    margin: 0px auto;
    margin-top:2em;
    padding: 0px 1517px;
}
.contact-form h4{
    font-size: 2.5em;
    color: #191c32;
}
.media{
    margin: 20px 0px;
}
.contact-form p{
    padding: 15px 0px 0px 0px;
}
.finalsection{
    height:100vh;
}
.footer{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    width:100vw;
    height:200px;
    background-color:#6EA3F9;
}
.footer-content{
    text-align:center;
}
.footer-content h2{
    font-size:3em;
}
.footer-content h5,.social-center i{
    font-size:1.5em;
}
.social-center{
    display:flex;
    justify-content:space-evenly;
    width:300px;
    margin-top:1em;
}
.social-center a>i{
 color:#181c31;
    
}
.navigation-toggle{
    display:none;
}

 .circular-progress {
	 position: relative;
	 margin: auto;
}
 .circular-progress, .circular-progress:before, .circular-progress:after {
	 width: 8rem;
	 height: 8rem;
	 border-radius: 50%;
}
 .circular-progress:before, .circular-progress:after {
	 position: absolute;
	 top: 0;
	 left: 0;
	 text-align: center;
}
 .circular-progress:before {
	 line-height: 4rem;
	 padding: 0.5em;
	 box-sizing: border-box;
	 font-size: 1rem;
}
 .circular-progress:after {
	 line-height: 10rem;
}

 .html5{background: linear-gradient(0deg, #0585c0 50%, rgba(129, 212, 250, .2) 50%);transform: rotate(126deg);}.html5:before{content: "html5";}.html5:before{ color:  #81d4fa ; background: #000 content-box; transform: rotate(-126deg);}.html5:after{content: "90%";color:#81d4fa ;background: linear-gradient(transparent 50%, #000 50%);transform: scale(1.1) rotate(-126deg);}


.PHP{background: linear-gradient(0deg,#710000 50%, rgba(113,0,0,.2) 50%);transform: rotate(126deg);}.PHP:before{content: "PHP";}.PHP:before{color: #ffffff ;background: #000 content-box;transform: rotate(-126deg);}.PHP:after{
	 content: "80%";color: #ffffff ;background: linear-gradient(transparent 50%, #000 50%);transform: scale(1.1) rotate(-126deg);}


 .css3{background: linear-gradient(0deg,#7bffc9  50%, rgba(123,255,201, .2) 50%);transform: rotate(153deg);}.css3:before{content: "css3";background: #000 content-box;transform: rotate(-153deg);text-transform: uppercase;color:  #7bffc9 ;}.css3:after{content: "85%";background: linear-gradient(transparent 50%, #000 50%);transform: scale(1.1) rotate(-153deg);color: #7bffc9;}


 .Java{background: linear-gradient(0deg, #ff6089  50%, rgba(255,96,137,.2) 50%);transform: rotate(153deg);
}.Java:before{content: "Java";background: #000 content-box;transform: rotate(-153deg);text-transform: uppercase;color: #ff6089 ;}.Java:after{content: "60%";background: linear-gradient(transparent 50%, #000 50%);transform: scale(1.1) rotate(-153deg);color: #ff6089 ;}


 .jscript{background: linear-gradient(0deg,  #ffbb60  50%, rgba( 255,187,96,.2) 50%);transform: rotate(102.6deg);}.jscript:before{content: "JS";background: #000 content-box;transform: rotate(-102.6deg);text-transform: uppercase;color:  #ffbb60 ;}.jscript:after{
	 content: "80%";background: linear-gradient(transparent 50%, #000 50%);transform: scale(1.1) rotate(-102.6deg);color:  #ffbb60 ;}

.UIUX{background: linear-gradient(0deg,   #a47afe 50%, rgba( 164,122,254,.2) 50%);transform: rotate(102.6deg);}.UIUX:before{content: "UI/UX";background: #000 content-box;transform: rotate(-102.6deg);text-transform: uppercase;color:   #a47afe;}.UIUX:after{content: "40%";background: linear-gradient(transparent 50%, #000 50%);transform: scale(1.1) rotate(-102.6deg);color:   #a47afe;}


 .skills2 div{
     padding: 10px 2px;
     margin: 10px 20px;
}
 .skills {
     padding: 10px 2px;
	 display: flex;
	 flex-direction:column;
	 align-items: center;
}
.skills2{
    display:flex;
    flex-direction:row;
}
 
@media (max-width: 700px) {
    
    .contact-headings {
        width: 100vw;
        padding:5em 5em 0 5em;
    }
    .main {
      margin: 0 auto;
      width: 80vw;
      height: 80vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .about img{
        display:none;
    }
    .about {
        display: block;
        margin: 0 auto;
        width: 100vw;
        /* height: 100vh; */
    }
    .info-content{
        text-align:center;
        /*font-size: .7em;*/
        margin-bottom: 10px;
        font-size: 1em;
    }
    .menu{
        /*background-image: url(fondoazul.webp);*/
        background-color:#191c32;
        border-radius: 5px;
        bottom: 0;
        height: 100%;
        right: 0;
        overflow-y: scroll;
        position: fixed;
        top: 0;
        transform: translate3d(0px, -100%, 0px);
        transition: transform 0.4s cubic-bezier(0.05, 1.04, 0.72, 0.98) 0s;
        width: 50%;
        z-index: 1001;
    }
    .menu ul{
      margin:0;padding:0;
    }

    .li_menu{ 
        list-style: none!important;
    	text-align:justify;
    	font-family: Verdadna, Arial, Helvetica;
    	font-size:1.2rem;
    	line-height:8em;
    	height:3em;
    	text-transform:none;
    	font-weight:bold;
    	padding: 0px 20px;
    }
    .li_menu a{
        text-decoration:none;
        color: #fff;
        text-decoration: none;

    }
    .li_menu a:hover{
      text-decoration:none;
      color:#6EA3F9;
    }
    .hamburger{
    	position:fixed;
      background-color:transparent;
    	right:0;
    	top:0;
    	/*height:30px;
    	width:30px;*/
    	padding:20px 30px;
    	-webkit-transform:translate3d(0, 0, 0);
    	transform:translate3d(0, 0, 0);
    	-webkit-transition:-webkit-transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    	transition:transform 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    	z-index:1002;
    	cursor:pointer;
    	-webkit-user-select:none;
    	-moz-user-select:none;
    	-ms-user-select:none;
    	user-select:none
    }
    .hamburger.is-active{
      background-color:none;
    }
    ._layer{
    	background:#6EA3F9;
    	margin-bottom:4px;
    	border-radius:2px;
    	width:28px;
    	height:4px;
    	opacity:1;
    	-webkit-transform:translate3d(0, 0, 0);
    	transform:translate3d(0, 0, 0);
    	-webkit-transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    	transition:all 0.25s cubic-bezier(0.05, 1.04, 0.72, 0.98);
    }
    .hamburger:hover .-top{
    	-webkit-transform:translateY(-100%);
    	-ms-transform:translateY(-100%);
    	transform:translateY(-100%);
    }
    .hamburger:hover .-bottom{
    	-webkit-transform:translateY(100%);
    	-ms-transform:translateY(100%);
    	transform:translateY(100%);
    	}
    .hamburger.is-active .-top{
    	-webkit-transform:translateY(200%) rotate(45deg) !important;
    	-ms-transform:translateY(200%) rotate(45deg) !important;
    	transform:translateY(200%) rotate(45deg) !important;
    }
    .hamburger.is-active .-mid{
    	opacity:0;
    }
    .hamburger.is-active .-bottom{
    	-webkit-transform:translateY(-200%) rotate(135deg) !important;
    	-ms-transform:translateY(-200%) rotate(135deg) !important;
    	transform:translateY(-200%) rotate(135deg) !important;
    }
    .menu.is_active{
      transform: translate3d(0px, 0px, 0px);
    }
    #Img3M{
        max-width: 200px;
        height:auto;
    }
    #Img2M,#Img1M{
        display:none;
    }
    .about-info {
      padding: 3em;
      width: 100vw;
      /* height: 100vh; */
    }
    .card{
        width: 250px;
        height: 250px;
    }
    .card__img{
        display:none;
    }
    .portafolio .container { 
      margin: 0 auto;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    }
    .skills{
        flex-direction: column!important;
        align-items: center;        
    }
    .skills2{
        display:flex;
        flex-direction:column;
    }
    .skills2 div{
        margin: 10px 0px!important;
    }
}
