body{
    background-color: #EAECEE;
}
#titulo {
    text-align:center;
    width : 100%;
}
.swal2-content {
    text-align: justify!important;
}
.tableFixHead   { overflow-y: auto; height: 100px; }
.tableFixHead thead th { position: sticky; top: 0; }
.borrarborder{
    color: #eaecee;
}
